body {
    text-align: center;
    overflow: hidden;
}

.sky {
    position: relative;
    height: 200px;
    width: 100vw;
    margin: 50px auto;
}

.sky::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}

#php-logo {
    position: absolute;
    width: 237px;
    height: auto;
    top: calc(50% - 64px);
}